{% extends 'base.html' %}
{% block content %}

<h1>Zerg Details</h1>

<div class="card">
  <div class="card-content">
  <span class="card-title">{{ zerg.name }}</span>
  <p>Description: {{ zerg.description|linebreaks }}</p>
  <p>Minerals: {{ zerg.minerals }}</p>
  {% if zerg.vespene > 0 %}
      <p>Vespene: {{ zerg.vespene }}</p>
  {% else %}
      <p>No Vespene Cost</p>
  {% endif %}
  </div>
  <div class="card-action">
    <a href="{% url 'zergs_update' zerg.id %}">Edit</a>
    <a href="{% url 'zergs_delete' zerg.id %}">Delete</a>
  </div>
</div>

{% endblock %}