{% extends 'base.html' %}
{% block content %}

<h1>Zerg Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
      <span class="card-title">{{ zerg.name }}</span>
      <p>Description: {{ zerg.description|linebreaks }}</p>
      <p>Minerals: {{ zerg.minerals }}</p>
      {% if zerg.vespene > 0 %}
          <p>Vespene: {{ zerg.vespene }}</p>
      {% else %}
          <p>No Vespene Cost</p>
      {% endif %}
      </div>
      <div class="card-action">
        <a href="{% url 'zergs_update' zerg.id %}">Edit</a>
        <a href="{% url 'zergs_delete' zerg.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_essence' zerg.id %}" method="POST">
      {% csrf_token %}
      {{ essence_form.as_p }}
      <input type="submit" class="btn" value="Add Essence">
    </form>  
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Absorbtion</th></tr>
      </thead>
      <tbody>
        {% for essence in zerg.essence_set.all %}
          <tr>
            <td>{{essence.date}}</td>
            <td>{{essence.get_absorbtions_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  const selectEl = document.getElementById('id_absorbtions');
  M.FormSelect.init(selectEl);
</script>

{% endblock %}