{% extends 'base.html' %}
{% block content %}

<h1>Enemy Details</h1>

<div class="row">
  <div class="col s6 col-offset-3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ enemy.get_name_display }}</span>
        <p>Race: {{ enemy.get_race_display }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'enemies_update' enemy.id %}">Edit</a>
        <a href="{% url 'enemies_delete' enemy.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}